.contacts-main {
  padding: 10px 0px 0px 0px;
  max-width: 1000px;
  margin: 0 auto;
  color: #1b1b1b;
}

.contacts-main h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.contacts-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.contacts-info {
  flex: 1;
  min-width: 300px;
  background-color: rgba(136, 136, 136, 0.602);
  /* padding: 20px; */
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.contacts-info p {
  padding: 0px 0px 0px 20px;
  margin-bottom: 12px;
  font-size: 1.1rem;
}
.contact-social-icon {
  padding: 0px 0px 0px 20px;
  margin-bottom: 12px;
  font-size: 1.1rem;
}

.map-container {
  flex: 2;
  min-width: 300px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}
.mobile-only {
  display: none;
}


@media (max-width: 768px) {
  .contacts-info {
    order: 1;
  }

  .map-container {
    order: 2;
  }
  .mobile-only {
    display: inline;
    text-decoration: teal;
  }

  .desktop-only {
    display: none;
  }
}
